@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Outfit", Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(244, 244, 244, 0.205);
}

.menuLinks {
  @apply flex gap-2 flex-col items-center md:flex-row px-4 py-2 text-base md:text-xl text-black hover:bg-color-3 active:bg-color-1 hover:text-white;
}

.active {
  @apply bg-color-1 text-white md:font-semibold;
}

label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 16px;
  color: #aaa;
  pointer-events: none; /* Prevent label from being clicked */
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

input:focus + label {
  transform: translateY(-25px);
  color: #007bff;
}

input:not(:placeholder-shown) + label {
  transform: translateY(-25px);
  color: #007bff;
}

.rdt_TableCol {
  @apply font-bold text-base;
}

.rdt_TableCell {
  @apply text-base;
}
